@font-face {
  font-family: 'punkid'; /* Nombre que le darás a la fuente */
  src: url('punk kid.ttf') format('truetype'); /* Ruta del archivo */
  font-weight: normal; /* Opcional */
  font-style: normal;  /* Opcional */
}


body {
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

/* Navegación */
nav ul {
    font-family: "punkid";
    font-size: 2rem;
    list-style: none;
    display: flex;
    justify-content: center;
    padding: 4rem;
    gap:3.5rem;
    margin: 0;
}

nav li {
    margin: 0 1rem;
}

nav a {
    text-decoration: none;
    color: black;
    font-size: 2.75rem;
}

.slider {
	    width: 85%;
	    margin: auto;
        margin-top: 200px;
	    overflow: hidden;
	    /*si no es fica, surt inici-final de laltra*/
	}
	
	.slider ul {
	    display: flex;
	    /*sino surt una sota altra*/
	    padding: 0;
	    width: 500%; /*SE CANVIA AIXÒ per a que lslider estigue complet*/
	    /*aixi ocupa tot lample 1 img*/
	    animation: cambio 20s infinite ease;
	    animation-direction: alternate;
	}
	
	.slider li {
	    width: 100%;
	    list-style: none;
	}
	
	.slider img {
  width: 100%;
  height: auto;         /* ✅ mantiene proporción */
  object-fit: contain;  /* ✅ asegura que la imagen se vea completa */
  display: block;       /* elimina espacios en blanco debajo de las imágenes inline */
  object-fit: cover;
}

  @keyframes cambio {
	    0% {
	        margin-left: 0;
	        /*quan comença esta al 0*/
	    }
	    20% {
	        margin-left: 0;
	        /*del 0-20 esta quiet*/
	    }
	    25% {
	        /*del 21-24 fa el mov (5% de 20 = 1s)*/
	        margin-left: -100%;
	    }
	    45% {
	        /*del 25-45% quiet*/
	        margin-left: -100%;
	    }
	    50% {
	        /*del 46 al 49 es mou a -200 (mov esquerra)*/
	        margin-left: -200%;
	    }
	    70% {
	        /*del 50-70 quiet*/
	        margin-left: -200%;
	    }
	    75% {
	        /*del 71-74 mov esquerra*/
	        margin-left: -300%;
	    }
	    100% {
	        /*quiet*/
	        margin-left: -300%;
	    }
    }



h1 {
  font-family: "punkid";             /* Tipus de lletra */
  font-size: 15rem;                   /* Mida del text */
  color:black;                  /* Color del text */
  text-align: center;                /* Centrat horitzontalment */
  padding-top: 5rem;
  
}

h4{
    font-family: "arial";             /* Tipus de lletra */
    font-size: 20rem;                   /* Mida del text */
    color:black;                  /* Color del text */
    text-align: left;                /* Centrat horitzontalment */
    margin: 3.5rem;
  
}

